In [1]:
import numpy as np
import pandas as pd

In [3]:
# file_path = R'D:/Jain/2nd Year/Sem 3/Term 7/DevOps for AI/code/silkysky/SILKYSKY_DATA_CW2 (S).csv'
file_path = R"/home/sparkm/Documents/Programming/Devops for AI/Devops-for-AI/machine learning/SILKYSKY_DATA_CW2 (S).csv"
data = pd.read_csv(file_path, encoding='ISO-8859-1')

In [4]:
data.head()

,Ref,id,Gender,Satisfied,Age,Age Band,Type of Travel,Class,Flight Distance,Destination,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,70172,Male,Y,13,Under 18,Personal Travel,Eco Plus,4760,India,...,5,5,4,3,4,4,5,5,25,18.0
1,1,5047,Male,N,25,25 to 34,Business travel,Business,235,Republic of Ireland,...,1,1,1,5,3,1,4,1,1,6.0
2,2,110028,Female,Y,26,25 to 34,Business travel,Business,4760,India,...,5,5,4,3,4,4,4,5,0,0.0
3,3,24026,Female,Y,25,25 to 34,Business travel,Business,560,Norway,...,2,2,2,5,3,1,4,2,11,9.0
4,4,119299,Male,Y,61,55 to 64,Business travel,Business,4760,India,...,5,3,3,4,4,3,3,3,0,0.0

In [7]:
#lowest age
print(data['Age'].min())

7

In [6]:
#lowest and highest delay
print(data["Arrival Delay in Minutes"].max())

1584.0

### Logistic Regression

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

pipe = make_pipeline(StandardScaler(), LogisticRegression(random_state=0))

pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

print("Logistic Regression Model Evaluation")
print(classification_report(y_test, y_pred))

roc_auc_lr = roc_auc_score(y_test, y_pred)
print("ROC AUC Score: ", roc_auc_lr)